.admin-panel {
    background-color: white;
    margin: 60px;
    border-radius: 20px;

    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);

    transition: all 1s linear;
}

.left-side {
    background-color: #013365;
    width: 25%;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-avatar {
    background-color: white;
    color: #013365;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

.left-side p {
    margin: 0px;
    text-align: left;
}

.left-side .name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.left-side .email {
    color: gray;
    font-size: 10px;
}

.tabs {
    padding: 20px 60px;
    width: 75%;
}

.tab-list {
    display: flex;
    justify-content: space-between;
}

.tab-button {
    border: none;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.tab-selected {
    color: #013365;
}