.content {
    background-color: #D3D3D3;
}

.card_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2% auto;
    border-radius: 8px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card_container h2 {
    font-size: 2rem;
    margin: 0;
}

.card_image {
    width: 50%;
    height: auto;
    overflow: hidden;
    margin: 20px;
}

.card_image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card_container p {
    flex: 1;
    padding: 20px;
    font-size: 1.2rem;
    color: #000000;
}

.card_container a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    margin-left: auto;
}


.card_container,
h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card_container p {
    font-size: 1.2rem;
    color: #333333;
    line-height: 1.6;
    margin: 0;
}

.caracteristicas {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

