:root {
    --primary-color: #013365;

    --border-row-color: gray;
    --border-row-width: 1px;
    --border-row-radius: 20px;
}

.master-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserva-container {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: 2%;
    padding: 2%;

    border-radius: 8px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reserva-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bloque-nombre *{
    font-weight: bold;
}

.bloque-nombre h2 {
    font-size: 2rem;
}

.bloque-nombre h4 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

.bloque-img {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
    /* width: 50%; */
    height: auto;
    overflow: hidden;
    /* margin: 20px; */
}

.bloque-img img {
    border-radius: 10px;
    width: 50%;
}

.bloque-usuario *{
    font-weight: bold;
}

.bloque-usuario h2 {
    font-size: 2rem;
}

.bloque-usuario p {
    font-size: 1.2rem;
    margin: 0.5em 0;
    color: grey;
}

.bloque-btn {
    text-align: right;
}

.reserva-btn {
    font-weight: normal;
    font-size: 1.2rem;
    color: white;

    background-color: var(--primary-color);

    padding: 5px 25px;
    border-radius: 100px;
    border: 3px solid var(--primary-color);

    cursor: pointer;
}

.reserva-btn:hover {
    color: var(--primary-color);
    background-color: white;
}

.reserva-btn:active{
    color: var(--primary-color);
    background-color: lightgray;
}
.modal-reserva .ReactModal__Content {
    inset: 30% 15% !important;
    /* height: fit-content; */
    align-content: center;
    text-align: center;
    margin: 0px;
    background-color: whitesmoke !important;
    border-radius: 20px !important;
    border-width: 0px !important;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);
}
.modalButton{
    background-color: #003366;
    border-color: #003366;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 10px;

}
@media (max-width: 480px) {
    .bloque-img {
        flex-direction: column;
    }

    .bloque-img img {
        width: 100%;
    }
}

.modal-reserva .ReactModal__Content {
    inset: 30% 15% !important;
    /* height: fit-content; */
    margin: 0px;
    background-color: whitesmoke !important;
    border-radius: 20px !important;
    border-width: 0px !important;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);
}