/* Estilos generales */
.user-panel {
    background-color: white;
    margin: 60px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
    transition: all 1s linear;
}

.left-side {
    background-color: #013365;
    width: 25%;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-avatar {
    background-color: white;
    color: #013365;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

.left-side p {
    margin: 0px;
    text-align: left;
}

.left-side .name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.left-side .email {
    color: gray;
    font-size: 10px;
}

/* Estilos para la sección de favoritos */
.favorites {
    padding: 20px;
    width: 75%;
}

.favorites h2 {
    font-size: 24px;
    color: black;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favorite-card {
    background-color: #DDDDDD;
    border-radius: 10px;
    max-width: 80%;
    padding: 20px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow: 0px 4px 4px rgba(148, 50, 50, 0.1);
}

.favorite-card img {
    width: 30%;
    height: 20%;
    border-radius: 10px;
    margin-right: 20px;
}

.favorite-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.favorite-info h3 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.favorite-info p {
    font-size: 14px;
    color: black;
    margin: 5%;
    padding-left: 8%;
}

.favorite-buttons {
    display: flex;
    gap: 10px;
}

.delete-button,
.detail-button {
    background: #003366;
    color: #FFFFFF;
    border: 2px solid #003366;
    width: 122px;
    height: 40px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover,
.detail-button:hover {
    background-color: #FFFFFF;
    color: #003366;
}
