/* Estilos generales */
.user-panel {
    background-color: white;
    margin: 60px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
    transition: all 1s linear;
}
.left-side_container{
    display: none
}
.content{
    display: flex;
}
.left-side {
    background-color: #013365;
    width: 25%;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.user-avatar {
    background-color: white;
    color: #013365;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
}

.left-side p {
    margin: 0px;
    text-align: justify;
}

.left-side .name {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.left-side .email {
    color: gray;
    font-size: 10px;
}

/* Estilos para la sección de favoritos */
h1{
    text-align: center;
    color:#013365;
}
.favorites {
    padding: 20px;
    width: 75%;
}

.favorites h2 {
    font-size: 24px;
    color: black;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.favorite-card {
    background-color: #DDDDDD;
    border-radius: 10px;
    max-width: 80%;
    padding: 20px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow: 0px 4px 4px rgba(148, 50, 50, 0.1);
}

.favorite-card img {
    width: 30%;
    height: 20%;
    border-radius: 10px;
    margin-right: 20px;
}

.favorite-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.favorite-info h3 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.favorite-info p {
    font-size: 14px;
    color: black;
    margin: 5%;
    padding-left: 8%;
}

.favorite-buttons {
    display: flex;
    gap: 10px;
}

.delete-button,
.detail-button {
    background: #003366;
    color: #FFFFFF;
    border: 2px solid #003366;
    padding: 10px 0;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover,
.detail-button:hover {
    background-color: #FFFFFF;
    color: #003366;
}

@media (max-width: 930px) {
    .favorite-info p {
        font-size: 14px;
        color: black;
        margin: 5%;
        text-align: justify;
    }
}
@media (max-width: 770px) {
    .user-panel{
        width: 90%;
        margin-left: auto 40px;
        align-items: center;
        flex-wrap: wrap;
    }
    .left-side{
        padding: 5% 30%;
        margin-left: 0;
    }
    .edit-button{
        margin-left: 18%;
    }
    .favorite-info .p{
        padding-left: 0;
    }
    .favorite-card{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .favorite-card img{
        width: 70%;
        background-color: #002855;
        object-fit: cover;
        height: 130px;
        margin: 0 10px 20px;
    }
    .favorite-buttons{
        margin-left: 15px;
    }
}

@media (max-width: 590px) {
    .detail-button{
        display: none;
    }
    .favorites-list {
        grid-template-columns: 1fr; /* Mostrar una tarjeta por fila en dispositivos móviles */
        display: grid;
        gap: 15px;
        margin-bottom: 3%;
        margin-left: 5%;
        padding: 10px;
    }
    .favorite-card {
        background-color: #FFFFFF; /* Fondo blanco */
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 20px rgba(29, 28, 28, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .favorite-card img {
        width: 100%;
        background-color: #002855; /* Fondo azul oscuro */
        object-fit: cover;
        height: 130px; /* Ajuste de altura de imagen en móvil */
        margin: 0;
    }

.favorite-info {
    padding: 15px;
}

.favorite-info h3 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

.favorite-info p {
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.delete-button {
    background-color: #002855; /* Azul oscuro para el botón */
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #FFFFFF; /* Cambiar tono al pasar el mouse */
    color: #002855;
    border-color: #002855;
}
    .left-side{
        display: flex;
        align-content: stretch;
        align-items: center;
        flex-direction: column;
        max-height: 400px;
        margin-top: 20px;
    }
    .left-side .name{
        margin-right: 80%;
    }

    .left-side .email{
        margin-right: 60%;
    }
    .edit-button{
        margin-left: -30%;
    }
    .user-panel{
        margin-top: 0;
        margin-left: 20px;
        margin-right: 0;

    }
    .user-avatar{
        font-size: 8rem;
        padding: 20%;    }
}