.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr); 
  margin-bottom: 3%;
}
h1{
  color:#002855;
  font-weight:bold;
}
.image-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ddd;
}

.image-card img {
  min-width: 150px;
  max-width: 150px; 
  height: 100%;
  object-fit: cover;
}

.image-info {
  padding: 10px;
  flex-grow: 1;
  text-align: left;
}

.image-info h2 {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.image-info p {
  font-size: 12px;
  color: black;
}
.image-card a{
  text-decoration: none;
}
.favButton{
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 15%;
  margin-right: 5%;
  font-size: 1.5rem;
}
.favButton .fa-heart {
  color: #413838; /* Color por defecto del icono */
}

.favButton.favorite .fa-heart {
  color: red; /* Color cuando es favorito */
}

@media (min-width: 480px) {
  .favorites-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr); /* Mostrar 2 tarjetas por fila */
    margin-bottom: 3%;
    padding: 10px;
}

.favorite-card {
    background-color: white; /* Fondo blanco */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favorite-card img {
    width: 100%;
    height: 150px; /* Área azul que representa la imagen */
    background-color: #002855; /* Fondo azul oscuro */
    object-fit: cover;
}

.favorite-info {
    padding: 15px;
}

.favorite-info h3 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

.favorite-info p {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
}

.delete-button {
    background-color: #002855; /* Azul oscuro para el botón */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #001f3f; /* Cambiar tono al pasar el mouse */
}

@media (max-width: 480px) {

    .favorites-list {
        grid-template-columns: 1fr; /* Mostrar una tarjeta por fila en dispositivos móviles */
    }
    .user-avatar{
      max-width: 80%;
      margin-left: 9.6%;

    }
    .favorite-card img {
        height: 130px; /* Ajuste de altura de imagen en móvil */
    }
    .left-side .name{
      padding-left: 30px;
    }
    p.email{
      padding-left: 30px;
    }
    .edit-button{
      margin-left: 30px;
    }
    h1{
      margin-left: 40%;
    }

}
}
