/* HistorialReservas.css */

/* Estilos generales para el componente */
.historial-reservas {
    padding: 20px;
    width: 75%;
    background-color: white;
}

.historial-reservas h1 {
    text-align: center;
    color: #013365;
}

.historial-reservas h2 {
    font-size: 24px;
    color: black;
}

.reservas-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reserva-card-wrapper {
    background-color: white;
}

.reserva-header {
    margin-bottom: 2%;
    margin-left: 8%;
    font-size: 14px;
}

.reserva-card {
    background-color: #DDDDDD;
    border-radius: 10px;
    max-width: 80%;
    padding: 20px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow: 0px 4px 4px rgba(148, 50, 50, 0.1);
}

.reserva-card img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.reserva-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reserva-info h3 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.reserva-info p {
    font-size: 14px;
    color: black;
    margin: 5%;
    padding-left: 8%;
}

.reserva-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.detail-button {
    background: #003366;
    color: #FFFFFF;
    border: 2px solid #003366;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detail-button:hover {
    background-color: #FFFFFF;
    color: #003366;
}

/* Responsive styles */
@media (max-width: 960px) {
    .historial-reservas {
        margin-left: 3%;
    }

    .reserva-card {
        flex-direction: column;
        padding: 30px 30px 30px 10px;
    }

    .reserva-card img {
        width: 50%;
        margin: auto auto 20px 30%;
    }

    .reserva-info h3 {
        margin-left: 10%;
    }

    .reserva-info p {
        font-size: 14px;
        color: black;
        margin: 5% 10%;
        text-align: justify;
        padding-left: 5%;
    }

    .reserva-buttons {
        margin-left: 5%;
    }
}

@media (max-width: 800px) {
    .historial-reservas {
        margin-left: -10%;
        margin-right: -10%;
        width: 100%;
    }

    .reserva-card {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
    }

    .reserva-card img {
        width: 70%;
        background-color: #002855;
        object-fit: cover;
        height: 130px;
        margin: 0 10px 20px;
    }

    .reserva-buttons {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .historial-reservas {
        margin-left: 0;
    }
}

@media (max-width: 590px) {
    .reserva-buttons {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .detail-button {
        background-color: #002855;
        color: #FFFFFF;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        width: 50%;
        font-size: 14px;
    }

    .detail-button:hover {
        background-color: #FFFFFF;
        color: #002855;
        border: 1px solid #002855;
    }

    .reservas-list {
        grid-template-columns: 1fr;
        display: grid;
        gap: 15px;
        margin-bottom: 3%;
        margin-left: 5%;
        padding: 10px;
    }

    .reserva-card {
        background-color: #FFFFFF;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 4px rgba(148, 50, 50, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reserva-card img {
        width: 100%;
        background-color: #002855;
        object-fit: cover;
        height: 130px;
        margin: 0;
    }

    .reserva-info {
        padding: 15px;
    }

    .reserva-info h3 {
        font-size: 16px;
        font-weight: bold;
        color: black;
        margin-bottom: 8px;
    }

    .reserva-info p {
        font-size: 14px;
        color: black;
        margin-bottom: 20px;
        text-align: center;
    }

    .delete-button {
        background-color: #002855;
        color: #FFFFFF;
        padding: 10px 40px;
        border-radius: 20px;
        cursor: pointer;
        width: 80%;
        font-size: 14px;
    }

    .delete-button:hover {
        background-color: #FFFFFF;
        color: #002855;
        border-color: #002855;
    }
}
