:root {
    --primary-color: #013365;

    --border-row-color: gray;
    --border-row-width: 1px;
    --border-row-radius: 50px;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-evenly;
    /* background-color: white; */
    /* width:fit-content; */
    padding: 10px 10px;
}

.button-primary {
    font-size: small;
    color: white;

    background-color: var(--primary-color);

    /* padding: 15px; */
    border-radius: 100px;
    border: 3px solid var(--primary-color);

    cursor: pointer;
}

.button-primary:hover {
    color: var(--primary-color);
    background-color: white;
}

.create-product {
    font-weight: bolder;
    font-size: 30px;
    aspect-ratio: 1/1;
}

.button-primary:active{
    color: var(--primary-color);
    background-color: lightgray;
}

.list-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-weight: bold;
}

.list-table th {
    color: grey;
    font-weight: normal;
}

.list-table td {
    /* background-color: white; */
    /* padding: 5px; */
    padding: 6px 5px;
    /* margin: 10px; */
    border-color: var(--border-row-color);
    border-style: solid;
    border-width: 0px;
    border-top-width: var(--border-row-width);
    border-bottom-width: var(--border-row-width);
}

.list-table td:first-child {
    border-top-left-radius: var(--border-row-radius);
    border-bottom-left-radius: var(--border-row-radius);
    border-left-width: var(--border-row-width);
    /* border-color: blue; */
    text-align: right;
}

.list-table td:last-child {
    border-top-right-radius: var(--border-row-radius);
    border-bottom-right-radius: var(--border-row-radius);
    border-right-width: var(--border-row-width);
    text-align: right;
}

thead th:nth-child(1) {
    width: 40px;
    text-align: right;
}

thead th:nth-child(2) {
    width: auto;
}

thead th:nth-child(3) {
    width: auto;
    text-align: right;
    padding-right: 20px;
}


.list-table tbody tr:hover td {
    /* border: 1px solid grey; */
    /* background-color: #F0F0F0; */
    border-color: var(--primary-color);
    --border-row-width: 3px;
    padding: 4px 5px;
}

/* .list-table button {
    aspect-ratio: 1/1;
    border: 1px solid white;
    cursor: pointer;
    font-size: 10px;
}

.list-table button:first-child {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.list-table button:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.list-table button:hover {
    background-color: #013365;
    background-color: grey;
    border-color: black;
    color: white;
}

.list-table button:active {
    background-color: darkgray;
} */

.ReactModal__Overlay {
    z-index: 1000;
}

.ReactModal__Content {
    margin: 0px;
}

.modal-product {
    text-align: center;
}

.container {
  /* position: relative; */
  overflow: hidden;
}

.title {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.activo {
    opacity: 1;
    transform: translateX(0);
}

.steps-guide {
    
}