:root {
    --primary-color: #013365;

    --border-row-color: gray;
    --border-row-width: 1px;
    --border-row-radius: 50px;
}

.list-container {
    /* display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-evenly; */
    /* background-color: white; */
    /* width:fit-content; */
    padding: 10px 10px;
}

.button-primary {
    font-size: small;
    color: white;

    background-color: var(--primary-color);

    /* padding: 15px; */
    border-radius: 100px;
    border: 3px solid var(--primary-color);

    cursor: pointer;
}

.button-primary:hover {
    color: var(--primary-color);
    background-color: white;
}

.create-product {
    font-weight: bold;
    font-size: medium;
    /* aspect-ratio: 1/1; */
}

.button-primary:active{
    color: var(--primary-color);
    background-color: lightgray;
}

.list-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-weight: bold;
}

.list-table th {
    color: grey;
    font-weight: normal;
}

.list-table td {
    /* background-color: white; */
    /* padding: 5px; */
    padding: 3px 5px;
    /* margin: 10px; */
    border-color: var(--border-row-color);
    border-style: solid;
    border-width: 0px;
    border-top-width: var(--border-row-width);
    border-bottom-width: var(--border-row-width);
    font-size: large;
}

.list-table td:first-child {
    border-top-left-radius: var(--border-row-radius);
    border-bottom-left-radius: var(--border-row-radius);
    border-left-width: var(--border-row-width);
    /* border-color: blue; */
    text-align: right;
}

.list-table td:nth-child(2) {
    text-align: center;
}

.list-table td:last-child {
    border-top-right-radius: var(--border-row-radius);
    border-bottom-right-radius: var(--border-row-radius);
    border-right-width: var(--border-row-width);
    text-align: right;
    /* padding-bottom: 5px; */
}

.list-table td:last-child button {
    margin-left: 3px;
}

thead th:nth-child(1) {
    width: 40px;
    text-align: right;
}

thead th:nth-child(2) {
    width: auto;
    text-align: center;
}

thead th:nth-child(3) {
    width: 25%;
    text-align: right;
    padding-right: 20px;
}


.list-table tbody tr:hover td {
    /* border: 1px solid grey; */
    /* background-color: #F0F0F0; */
    border-color: var(--primary-color);
    --border-row-width: 3px;
    padding: 1px 5px;
}

/* .list-table button {
    aspect-ratio: 1/1;
    border: 1px solid white;
    cursor: pointer;
    font-size: 10px;
}

.list-table button:first-child {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.list-table button:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.list-table button:hover {
    background-color: #013365;
    background-color: grey;
    border-color: black;
    color: white;
}

.list-table button:active {
    background-color: darkgray;
} */

.ReactModal__Overlay {
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.ReactModal__Content {
    inset: 5% !important;
    /* height: fit-content; */
    margin: 0px;
    background-color: whitesmoke !important;
    border-radius: 20px !important;
    border-width: 0px !important;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);
}

.modal-product {
    text-align: center;
}

.title {
    text-align: center;
}

.row-table {
    width: 100%;
    font-size: large;
    font-weight: bold;
}

.row-table tr td {
    vertical-align: top;

}

.column-table {
    width: 100%;
    padding: 0px 10px;
}

.column-table tr {
    /* padding: 0px; */
}

.create-edit-input {
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px;
    width: 100%;

    font-size: large;
}

textarea.create-edit-input {
    height: 100px;
    scrollbar-color: black;
}

textarea.create-edit-input::-webkit-scrollbar {
    background-color: unset;
    width: 10px;
    height: 80%;
}
textarea.create-edit-input::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
}
textarea.create-edit-input::-webkit-scrollbar-track {
    background-color: unset;
}

.create-edit-input.container {
    display: flex;
    justify-content: space-between;

    padding: 5px 10px;
    background-color: white;
}

.create-edit-input.container {
    margin-top: 2px;
}

.cost {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;

    background-color: white;
}

.no-style {
    border: 0px;
    padding: 0px;
    width: auto;
    background-color: unset;
    font-size: large;
    display: inline;
}

.delete-img {
    cursor: pointer;
}

.no-style:focus {
    border: 0px;
}

.select-caracteristicas {
    background-color: white;
}

.select-caracteristicas.react-select__menu-list {
    background-color: white;
}

.input-caracteristica {
    width: 40%;
}