.list-usuarios {
    list-style-type: none;
    padding: 0px;
}

.list-usuarios li {
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 3px 15px;
    margin: 5px;

    font-weight: normal;
}

.list-usuarios li:hover {
    border-width: 2px;
    box-shadow: 4px 4px 4px #00000022;
}

.selecccionado {
    
}