.list-container {
    background-color: white;
    /* width:fit-content; */
    padding: 10px 10px;
}

.list-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
}


.list-table td {
    /* background-color: white; */
    /* border-bottom: 1px solid lightgray; */
    padding: 5px;
}

thead th:nth-child(1) {
    width: 30px;
}
  
thead th:nth-child(2) {
    width: auto;
}
  
thead th:nth-child(3) {
    width: 80px;
}

.list-table td:first-child {
    /* border: 1px solid red;
    border-radius: 20px; */
}

.list-table tbody tr {
    border: 1px solid grey;
}