.formulario {
    width: 100%; /* Para que el formulario ocupe todo el ancho disponible */
    max-width: 600px; /* Limita el ancho máximo del formulario */
    margin: 50px auto; /* Centra el formulario horizontalmente y añade margen superior e inferior */
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form__content {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__content input {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}

.form__content {
    position: relative;
    margin-bottom: 15px;
}

.form__content input {
    width: 100%;
    padding: 10px 40px 10px 15px; /* Espacio para el icono */
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    box-sizing: border-box; /* Incluye el padding en el ancho del input */
}

.form__content input:focus {
    border-color: #007bff;
}

.form__content .icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999;
}

.form__content .icon:hover {
    color: #000; /* Cambia el color del icono cuando se hace hover */
}

.form__buttons {
    display: flex;
    justify-content: space-between; /* Asegura que los botones queden uno al lado del otro */
    align-items: center; /* Alinea los botones verticalmente en el centro */
    margin-top: 20px;
}

.buttons__1, .buttons__2 {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center; /* Centra el texto dentro del botón */
    cursor: pointer;
    min-width: 120px;
    display: flex;
    justify-content: center; /* Asegura que el texto esté centrado horizontalmente */
    align-items: center; /* Asegura que el texto esté centrado verticalmente */
}

.buttons__1 {
    background-color: #00275b;
    flex-grow: 1.387;
    margin-right: 10px; /* Espacio entre los dos botones */
}

.buttons__2 {
    background-color: #8c9bb2;
    flex-grow: 1;
}

.buttons__1:hover, .buttons__2:hover {
    opacity: 0.8;
}